.box {
    font-family: monospace;
    background-color: #FACA0F;
}

.sun {
    background-color: rgba(250, 210, 110) ;
    width:1000px;
    height: 500px;
    padding-left:  75px;
    border:100px lightyellow;
  
}
figure {
	background-color: white;
text-align: center;
}


