body{
 /*background-color: black;*/
}
img {
	width: 40vw;
	display: block;

}
img:hover
{
	display: none;
}
p{
	/*color: white;*/
}

#theFlex {
	display: flex;
	justify-content: flex-end;
	background-color: yellow;


.thisItem {
background-color: pink;
}