/*.box {
    font-family: monospace;
    background-color: #FACA0F;
}*/

/*.sun {
    background-color: white ;
    width:1000px;
    height: 500px;
    padding-left:75px;
    border:100px lightyellow;
 
}*/

/*

.interests{
	background-color: black;
}

img {
  border: solid #FACA0F 10px;

}

.india {
	top: 10px;
	bottom: 30px;
	left: 15px;
	right: 600px;
	z-index:-1;


}

.write {
	top: 100px;
	bottom: 75px;
	left: 400px;
	right: 350px;
	z-index:-1;


}

.love {
	top: 500px;
	bottom: 600px;
	left: 195px;
	right: 200px;
	z-index:-1;

}

.happy {
	top: 250px;
	bottom: 30px;
	left: 204px;
	right: 62px;
	z-index:-1;	

}

.art {
	top: 85px;
	bottom: 45px;
	left: 95px;
	right: 20px;
	z-index:-1;


}

.sing {
	top: 10px;
	bottom: 30px;
	left: 15px;
	right: 600px;

z-index:-1;
}

.kpop {
	top: 400px;
	bottom: 250px;
	left: 400px;
	right: 50px;
z-index:-1;

}
*/