.photo {
	position: absolute;
	top: 80vw;
	left: 50vw;

}

.photoText
{
	background-color: transparent;

	text-shadow: 2px 2px black;
	color: #F4F40F;
	font-size: 1.5vw;
	padding: 3vh;
	position: absolute;
	width: 30vw;
	height: 10vh;
	top: 75vw;
	left: 60vw;
	font-family: 'Chango', cursive;
}
.decor.p
{
	background-color: #0DD3CD;
	
	padding: 1vh;
	position: absolute;
	width: 25vw;
	height: 30vw;
	top: 75vw;
	left: 40vw;
	z-index: -1;
}

.decor.z
{
	background-color: transparent;
	
	padding: 1vh;
	position: absolute;
	width: 25vw;
	height: 30vw;
	top: 100vw;
	left: 40vw;
	z-index: -1;
}
.jar {
	position: absolute;
	top: 45vw;
	left: 15vw;

}

.jarText
{
	background-color: transparent;

	text-shadow: 2px 2px black;
	color: #F4F40F;
	font-size: 2vw;
	padding: 3vh;
	position: absolute;
	width: 20vw;
	height: 10vh;
	top: 62vw;
	left: 27vw;
	font-family: 'Chango', cursive;
}
.decor
{
	background-color: #0DD3CD;
	
	padding: 1vh;
	position: absolute;
	width: 20vw;
	height: 25vw;
	top: 40vw;
	left: 10vw;
	z-index: -1;
}

.clay
{
	position: absolute;
	top: 35vw;
	left: 55vw;
}

.clayText
{
	background-color: transparent;

	text-shadow: 2px 2px black;
	color: #F4F40F;
	font-size: 1.5vw;
	padding: 3vh;
	position: absolute;
	width: 20vw;
	height: 10vh;
	top: 32vw;
	right: 30vw;
	font-family: 'Chango', cursive;
}
.decor.c
{
	background-color: #0DD3CD;
	
	padding: 1vh;
	position: absolute;
	width: 20vw;
	height: 20vw;
	top: 30vw;
	left: 62vw;
	z-index: -1;
}
.submenu{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-gap: 0.1vw;
    font-style: italic;
	color: #0DD3CD;
	font-size: 1.5vw;
}

a{
	color: inherit;
	text-decoration: none;
}
.obj{
    background-color: transparent;
    color: #0DD3CD;
    text-shadow: 2px 2px white;
    padding: 10px;
    font-family: 'Playfair Display', serif;
}
.obj4{
    display: flex;
    justify-content: center;
   grid-column-start: 7;
   grid-column-end: 7;
}


.obj3{
    display: flex;
    justify-content: center;
   grid-column-start: 6;
   grid-column-end: 6;

}

.obj2{
    display: flex;
    justify-content: center;
    grid-column-start: 5;
   grid-column-end: 5;

}

.obj1{
    display: flex;
    justify-content: center;
    color:black;
    text-shadow: 2px 2px #0DD3CD;
    
grid-column-start: 4;
   grid-column-end: 4;
}
.obj4:hover{
   color: black;
   text-shadow: 2px 2px #0DD3CD;
   grid-column-start: 7;
   grid-column-end: 7;
}


.obj3:hover{
    color: black;
   text-shadow: 2px 2px #0DD3CD;
   grid-column-start: 6;
   grid-column-end: 6;
}

.obj2:hover{
   color: black;
   text-shadow: 2px 2px #0DD3CD;
   grid-column-start: 5;
   grid-column-end: 5;
    
}

.obj1:hover{
    
    color: #0DD3CD;
   text-shadow: 2px 2px black;
   grid-column-start: 4;
   grid-column-end: 4;
}




header{
	/*background-image: url("Lemons.png");*/

  /*background-repeat: no-repeat;
  background-attachment: fixed;*/
  /*background-size: cover;*/
  font-size: 2.5vw;
  background-color: white;
  color: transparent;

  
}
body{
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	font-size: 1vw;
	background-color: #ACEFEA;
}
.flexbox
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/*margin-right: -200px auto;*/
	

}
strong{
	color: #0F847E;
	font-weight: 900;
}
.flexLeft
{
	width: 30vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: justify-start;
	margin-left: 20vw; 
}

.title
{
	letter-spacing: 2vw;
	color: #F4F40F;
	font-size: 4vw;
	font-family: 'Chango', cursive;
	text-shadow: 4px 4px black;
	position: absolute;
	top: 18vw;
	left: 40vw;

 /* background: url(http://i.giphy.com/fsULJFFGv8X3G.gif);
  background-size: cover;
  background-position: center;*/
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  
  /*-webkit-background-clip: text;
  color: transparent; // set to transparent, otherwise won't see the background
  
  width: 1500px;
  height: 1500px;
  box-sizing: border-box;
  font-size: 58px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  flex-shrink: 0;*/
}
.socks
{
	width: 40vh;
	height: auto;
	position: absolute;
	top: 50vh;
	left: 95vh;
	border: 1vw solid black;
}
.logo
{
position: absolute;
width: 10vw;
height: auto;
top: 2vw;
left: 4vh;
}

.example_c {
color: black;

text-decoration: none;
text-shadow: 4px 4px #F4F40F;
background: white;
padding: 20px;
border: 4px solid black !important;
display: inline-block;
transition: all 0.4s ease 0s;

/*box-shadow: 25px 25px #FE6F8C;
*/font-size:1.5vw;


/*top: 650px;
left: 1400px;
position: absolute;*/

}
.eximple_c {
color: black;

text-decoration: none;
text-shadow: 4px 4px #F4F40F;
background: white;
padding: 20px;
/*border: 4px solid black !important;*/
display: inline-block;
transition: all 0.4s ease 0s;

/*box-shadow: 25px 25px #FE6F8C;
*/font-size:1.5vw;


/*top: 650px;
left: 1400px;
position: absolute;*/

}
.example_c.about:hover{
  /*top: 650px;
left: 1450px;
position: absolute;*/
color: white;
background: black;
border: 4px 4px solid white;
text-shadow: none;
position: absolute;
left: 30vw;
top: 7vw;

}
.example_c.about{
  /*top: 650px;
left: 1450px;
position: absolute;*/

text-shadow: none;

position: absolute;
left: 30vw;
top: 7vw;
}
.example_c.proj:hover{
  /*top: 650px;
left: 1450px;
position: absolute;*/
color: white;
border: 4px 4px solid black;
background-color: black;
text-shadow: none;
position: absolute;
left: 40vw;
top: 7vw;
}
.example_c.proj{
  /*top: 650px;
left: 1450px;
position: absolute;*/
color: white;
background-color: black;
text-shadow: none;
position: absolute;
left: 40vw;
top: 7vw;
}
.example_c.bucket{
  /*top: 650px;
left: 1450px;
position: absolute;*/

text-shadow: none;
position: absolute;
left: 51vw;
top: 7vw;
}
.example_c.love{
  /*top: 650px;
left: 1450px;
position: absolute;*/

text-shadow: none;
position: absolute;
left: 63vw;
top: 7vw;
}
.example_c:hover {
color: #ffffff !important;
background: black;
border: 4px solid white !important;
transition: all 0.4s ease 0s;
text-shadow: none;

/*box-shadow: 25px 25px #ffffff;*/
/*text-shadow: 2px 2px #F4F40F;*/
}

.eximple_c.art{
color: white !important;
text-transform: lowercase;
text-decoration: none;
text-shadow: none; 
letter-spacing: 0.75vw;
/*text-shadow: 4px 4px white;*/

/*background-image: url(https://images2.static-bluray.com/reviews/4076_1.jpg);*/
/*padding: white 20px;*/
/*border: 5px solid #F4F40F !important;
*/ width: 14vw;
     height: 14vw;
      /*background: white;*/
      background-image: url(art2.gif);
      border-radius: 50%;
display: block;
text-align: center;
margin-left: auto;
margin-right: auto;
transition: all 0.4s ease 0s;
position: absolute;
top: 30vw;
left: 20vh;
border: none;

/*font-family: 'Press Start 2P', cursive;*/
/*font-family: 'Press Start 2P', cursive;*/
/*
box-shadow: 25px 25px gold, 25px 25px white, 25px 25px black;
font-size: 50px;
/*justify-content: flexćstart;*/


/*justify-content: space-around;
align-content: center;
flex-direction: row;
text-align: center;
flex-wrap: wrap;*/
/*top: 650px;
left: 1400px;
position: absolute;*/
}

.eximple_c.art:hover {
color: #ffffff !important;
text-transform: lowercase;
/*background: #FE6F8C;*/
background-image: url(art2.gif);
/*border-color: white !important;*/
transition: all 0.4s ease 0s;
/*font-family: 'Press Start 2P', cursive;*/
font-weight:900;
/*box-shadow: 5vw 5vw white;*/
width: 25vw;
     height: 25vw;
     z-index: 5;

}

.eximple_c.word{
color: white !important;
text-transform: lowercase;
text-decoration: none;
text-shadow: none; 
letter-spacing: 0.75vw;
border-color: transparent;
/*text-shadow: 4px 4px white;*/

background-image: url(word4.gif);
padding: 20px;
/*border: 5px solid #F4F40F !important;
*/ width: 14vw;
     height: 14vw;
      
      border-radius: 50%;
display: block;
text-align: center;
margin-left: auto;
margin-right: auto;
transition: all 0.4s ease 0s;
position: absolute;
top: 30vw;
left: 55vh;
}
.eximple_c.word:hover {
color: white !important;
text-transform: lowercase;
background-image: url(word4.gif);
width: 25vw;
     height: 25vw;
transition: all 0.4s ease 0s;

/*box-shadow: 5vw 5vw white;
*/
width: 25vw;
     height: 25vw;
     z-index: 5;

}
.eximple_c.kind{
color: white !important;
text-transform: lowercase;

text-decoration: none;
text-shadow: none; 
letter-spacing: 0.75vw;
border-color: transparent;
/*text-shadow: 4px 4px white;*/
background-image: url(kind2.gif);
/*background-image: url(https://images2.static-bluray.com/reviews/4076_1.jpg);*/
padding: 20px;
/*border: 5px solid #F4F40F !important;
*/ width: 14vw;
     height: 14vw;
      
      border-radius: 50%;
display: block;
text-align: center;
margin-left: auto;
margin-right: auto;
transition: all 0.4s ease 0s;
position: absolute;
top: 30vw;
left: 90vh;
}
.eximple_c.kind:hover {
color: white !important;
text-transform: lowercase;
background-image: url(kind2.gif);

transition: all 0.4s ease 0s;

/*box-shadow: 5vw 5vw white;*/

width: 25vw;
     height: 25vw;
     z-index: 5;
}
.eximple_c.rand{
color: white !important;
text-transform: lowercase;
text-decoration: none;
text-shadow: none; 
border-color: transparent;
letter-spacing: 0.75vw;
/*text-shadow: 4px 4px white;*/
background-image: url(rand.gif);
/*background-image: url(https://images2.static-bluray.com/reviews/4076_1.jpg);*/
padding: 20px;
/*border: 5px solid #F4F40F !important;
*/ width: 14vw;
     height: 14vw;
      
      border-radius: 50%;
display: block;
text-align: center;
margin-left: auto;
margin-right: auto;
transition: all 0.4s ease 0s;
position: absolute;
top: 30vw;
left: 125vh;
}
.eximple_c.rand:hover {
color: white !important;
text-transform: lowercase;
background-image: url(rand.gif);

transition: all 0.4s ease 0s;

/*box-shadow: 5vw 5vw white;*/

width: 25vw;
     height: 25vw;
     z-index: 5;
}
/*#aboutG
{
	grid-column-start: 2;
	grid-column-end: 5;
}
*/
/*.example_c.next2{
  top: 100px;
left: 300px;
position: absolute;
}

.example_c.back1{
  top: 100px;
left: 25px;
position: absolute;
}*/


